<header>
    <div class="Cabecario">
        <div class="Main-Menu">
            <div class="Logo">
                <img class="LogoG" src="images/Logo.png" alt="Logo">
            </div>

            <div class="MainMenu">
                <button class="btHome">Home</button>
                <button class="btQuemSomos">Quem Somos</button>
                <button class="btCategorias">Categorias</button>
                <button class="btContato">Contato</button>
            </div>

            <div class="Login">
                <a href="/api/v1/user/signup" class="btLoginSignUp">signup</a>
                <button class="btLoginSignUp">Login</button>
                <button class="btLoginSignUp">SignUp</button>
            </div>
        </div>

        <div class="title">
            <div class="sub-titleh1">
                <h1>Bem-vindo ao Clube do Whisky</h1>
            </div>
            <div class="sub-title2">
                <h2>Comunidade dos apreciadores de Whisky do Brasil</h2>
            </div>
        </div>

    </div>
</header>