<header>
    <div class="Cabecario">
        <div class="Main-Menu">
            <div class="Logo">
                <img class="LogoG" src="images/Logo.png" alt="Logo">
            </div>

            <div class="MainMenu">
                <a href="/" class="btHome">Home</a>
                <a href="/quemsomos" class="btQuemSomos">Quem Somos</a>
                <a href="/api/v1/categorias" class="btCategorias">Categorias</a>
                <a href="/api/v1/contato" class="btContato">Contato</a>
            </div>

            <div class="Login">
                <a href="/api/v1/user/login" class="btLoginSignUp">Login</a>
                <a href="/api/v1/user/signup" class="btLoginSignUp">signup</a>
            </div>
        </div>

        <div class="title">
            <div class="sub-titleh1">
                <h1>Bem-vindo ao Clube do Whisky</h1>
            </div>
            <div class="sub-title2">
                <h2>Comunidade dos apreciadores de Whisky do Brasil</h2>
            </div>
        </div>

    </div>
</header>