<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&family=Roboto+Slab&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="/css/editar-perfil.css">
    <link rel="stylesheet" href="/css/partials.css">
    <title>Categorias</title>
</head>
<body>
    <header>
    <%- include('./partials/_header') %> 
    </header>
    <div class="principal">
        <div class="profile">
            <img src="/images/profile.png" class="profile-pic" alt="Profile">
        </div>       
        <div class="title">
            <h2>Perfil</h2>
            <table style="width:100%">
                <tr>
                  <th></th>
                </tr>
                <tr>
                  <td>Nome</td>
                  <td>Query BD</td>
                </tr>
                <tr>
                  <td>Email</td>
                  <td>Query BD</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>Query BD</td>
                </tr>
                <tr>
                    <td>Celular</td>
                    <td>Query BD</td>
                </tr>
                <tr>
                    <td>Cetgorias</td>
                    <td>Query BD</td>
                </tr>
                <th>
            </table>
            <form method="POST" action="/api/v1/user/editar-perfil" enctype="multipart/form-data">
               
                <label>Foto:</label>
                <input type="file" class="btn-edit" name="image" accept="image/*" placeholder="Insira seu avatar"/>
                <button type="submit" class="btn-save">Salvar Alterações</button>

            </form>
        </div>
    </div>

 <%- include('./partials/_footer') %> 
</body>
</html>