<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clube do Whisky - Home Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/partials.css">
</head>

<body>

    <%- include('./partials/_header') %>

        <div class="QuemSomos">
            <div class="QSimagem">
                <img class="quemsomosimagem" src="images/QuemSomosHome.png" alt="quemsomosimagem">
            </div>

            <div class="QSConteudo">
                <h3>Quem Somos</h2>
                    <h4>Objectivo da Comunidade</h3>
                <p>
                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                    in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur".
                </p>
                <button>Saiba Mais</button>
            </div>
        </div>

        <div class="Categorias">
            <div class="imgCat1">
                <p>Categoria 1</p>
                <img src="images/Categoria1.png" alt="imgCat1">
            </div>
            <div class="imgCat2">
                <p>Categoria 2</p>
                <img src="images/Categoria2.png" alt="imgCat2">
            </div>
            <div class="imgCat3">
                <p>Categoria 3</p>
                <img src="images/Categoria3.png" alt="imgCat3">
            </div>
            <div class="imgCat4">
                <p>Categoria 4</p>
                <img src="images/Categoria4.png" alt="imgCat4">
            </div>
            <div class="CatInfo">
                <h3>Categorias de Whisky</h2>
                <h4>Escolha seu estilo de Whisky para celebrar</h3>
            </div>
        </div>

        <%- include('./partials/_footer') %>

            <div class="copyright">
                <p class="copyright">Copyrights 2021 - All rights reserved to Clube do Whisky</p>
            </div>
</body>

</html>