body {
    background-color: black;
}

/*-----------*/
/*div Título*/

div.avaliacao {
    background-color: rgb(0, 0, 0);
    color: blanchedalmond;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 10px;
}

div.avaliacao-titulo {
    padding: 0px 100px 0px 100px;
}

.avaliacao-titulo h3 {
    font-family: Roboto;
    font-size: 35px;
    font-weight: bold;
    padding-bottom: 0px;

}

div.avaliacao-titulo p {
    font-family: Roboto;
    font-size: 22px;
    font-weight: bold;
    text-align: justify;
    padding: 0px 100px 0px 120px;
}

/*---------------*/
/*div Categorias*/

div.Categorias {
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 10px
}

div.tipos {
    display: flex;
    flex-direction: row;
    margin: 70px 10px;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}

div.tipos div {cursor: pointer;}


div.whisky input:hover {
    margin: 10px 10px;
    width: 200px;
    text-align: center;
    padding: 0px 18px 0px 18px;
    transition: all 0.5s;
}

div.Categorias input {
    height: 100px;
    object-fit: cover;
}


.Categorias h3 {
    font-family: Roboto;
    font-size: 35px;
    font-weight: bold;
    padding: 30px 50px;
}