*{
    box-sizing: border-box;

}

body{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    color: #f9f6f7;
}

.profile-pic{
    margin: 10px;
    width: 200px;
    height: 150px;
}

.principal{
    background-color: black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    
}

.btn-save{
    background-color: #F5A600;
    color: black;
    font-family: Roboto;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    /* border-radius: 5px; */
    padding: 10px;
    margin: 15px;
    cursor: pointer;
}

.btn-save {
    background-color: #b88007;
    text-decoration: underline;
}

.table{
    margin:10px;
    padding: 10px;
}


td{
    width: 200px;
    text-align: center;
    height: 50px;
    vertical-align: center;
}





/*-----------------------------------------------------------------------------*/
/*                                   div rodape                                */




div.formulario {
    margin: 50px 0px;
    /*width: 20vw;*/
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

p.contato {
    color: white;
    font-family: Roboto;
    font-size: 35px;
    font-weight: bold;
    padding: 0px;
    margin: 0px;
}

p.sendMessage {
    color: white;
    font-family: Roboto;
    font-size: 20px;
    padding: 0px;
    margin: 0px;
}

.formulario textarea {
    color: rgb(51, 51, 51);
    font-family: Roboto;
    font-size: 15px;
}

.formulario input {
    color: rgb(51, 51, 51);
    font-family: Roboto;
    font-size: 15px;
    height: 35px;
    width: 200px;
}

.formulario button {
    background-color: rgb(51, 51, 51);
    color: white;
    height: 35px;
    width: 100px;
    border: none;
    text-transform: uppercase;
    /* border-radius: 10px; */
    cursor: pointer;
}

.formulario button:hover {
    background-color: rgb(75, 75, 75);
    text-decoration: underline;
}

div.smallMenu {
    /*width: 20vw;*/
    margin: 50px 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: white;
    font-family: Roboto;
    font-size: 22px;
}
p.Mapa {
    color: white;
    font-family: Roboto;
    font-size: 35px;
    font-weight: bold;
    padding: 0px;
    margin: 0px;
}

p.allMenu {
    color: white;
    font-family: Roboto;
    font-size: 20px;
    padding: 0px;
    margin: 0px;
}

ul.menuList li {
    list-style-type: "- ";
    font-family: Roboto;
    font-size: 20px;
    padding: 0px;
    margin-left: -30px;
    line-height: 40px;
    font-weight: bold;
}

li.menuItem a {
    color: white;
    text-decoration: none;
    font-family: Roboto;
    font-size: 20px;
}

LI.menuItem a:hover {
    text-decoration: underline;
}

div.contato {
    margin: 50px 0px;
    /*width: 22vw;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Roboto;
    font-size: 20px;
    color: white;
}

div.copyright{
    background-color: rgb(51, 51, 51);  
    display: flex;
    justify-content: center;
    align-items: center;
}

p.copyright {
    font-family: Roboto;
    font-size: 15px;
    color: white;
}

div.contato-items {
    display: flex;
    flex-direction: row;
}

.fa-phone {
    font-size: 25px;
    padding: 0px 5px;
}

.fa-envelope-open-text {
    font-size: 25px;
    padding: 0px 5px;
}

.fa-twitter-square {
    font-size: 25px;
    padding: 0px 5px;
}

.fa-facebook {
    font-size: 25px;
    padding: 0px 5px;
}

.fa-instagram-square {
    font-size: 25px;
    padding: 0px 5px;
}

@media (min-width: 1280px){
    div.Datas { padding-left: 50%;}

    div.rodape {
        background-color: rgb(103, 103, 103);
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    div.formulario {width: 25vw;}
    div.smallMenu {width: 20vw;}
    div.contato {width: 25vw;}
}

@media (max-width: 1279px){
    div.Datas { padding-left: 10%;}

    div.rodape {
        background-color: rgb(103, 103, 103);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    div.formulario { width: 50vw; }
    div.smallMenu { width: 50vw; }
    div.contato { width: 50vw; }
}