*{
    box-sizing: border-box;
}


body{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    color: #f9f6f7;
    background-color: black;
}


.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.menu .logo img{
    height: 80px;
    width: 80px;
    margin: 20px 60px;
}


.menu .user img{
    height: 50px;
    width: 50px;
    margin: 20px 60px;
    background-color: whitesmoke
}

a.btHome, a.btManifesto, a.btCategorias, a.btContato {
    color:blanchedalmond;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 20px;
    border: none;
    margin: 5px 0px;
    text-decoration: none;
    cursor: pointer;
}


.categorias{
    position: relative;
    max-width: 1450px;
    height: 600px;
    margin: 10px;
    background-color: rgb(7, 7, 7);
}
.categorias .imagcategoria{
    z-index: 1;
    width: 100%;
    height: 100%;
    position: absolute;
    clip-path: circle(0% at 0 50%);
}
.categorias .imagcategoria.active{
    clip-path: circle(150% at 0 50%);
    transition: 2s;
    transition-property: clip-path;
}
.categorias .imagcategoria img{
    z-index: 1;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.categorias .imagcategoria .info{
    position: absolute;
    top: 0;
    padding: 15px 30px;
}
.categorias .imagcategoria .info h2{
    color: #fff;
    font-size: 45px;
    letter-spacing: 2px;
}
.categorias .imagcategoria .info p{
    color: #fff;
    background-color: rgba(0, 0, 0, 0.1);
    letter-spacing: 2px;
    font-size: 16px;
    width: 60%;
    padding: 10px;
    border-radius: 4px;
}
.categorias .navigation{
    z-index: 2;
    position: absolute;
    display: flex;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}
.categorias .navigation .btn{
    background: rgba(255, 255, 255, 0.5);
    width: 12px;
    height: 12px;
    margin: 10px;
    border-radius: 50%;
    cursor: pointer;
}
.categorias .navigation .btn.active{
    background: #2982c2;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  }

.manifesto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
}
.manifesto h2{
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
}