body {
    background-color: ivory;
    font-family: Verdana;
    color: rgb(201, 147, 48);
    font-weight: bold;
}

.card {
    width: 400px;
    margin: auto;
    padding-top: 40px;
}

.cadastro {
    box-shadow: 1px 1px 5px rgb(232, 255, 23);
    background-color: rgb(43, 40, 43);
    padding: 30px;
    border-radius: 2%;
}

.entradas > input {
    border-radius: 10%;
    margin: 2%;
    padding-left: 5px;
    width: 90%;
}

.entradas > button {
    background-image: linear-gradient(to right, rgb(236, 215, 215), gray );
    width: 80%;
    border-radius: 10%;
    margin: 2%; 
    font-weight: bold;
}

.entradas > label {
    font-size: 12px;
    text-align: initial;
}

.entradas > p {
    font-size: 12px;
    text-align: center;
}

.texto-central {
    text-align: center;
}

.button {
    text-align: center;
}